<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Express App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h2>About Page</h1>
    <p style="background-color:yellow">This is my about page</p>
    <ul>
      {{#each likes}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <a href="/">Back to Home Page</a>
  </body>
</html>
