<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Express App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h2>Home Page</h1>
    <p style="background-color:orange">{{name}}</p>
    <a href="/about">About Page</a>
    |
    <a href="/help.html">Help Page</a>
  </body>
</html>
